@model GerenciamentoCursos.Models.ViewModels.OfertaFormViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>
<h4>Oferta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Oferta.Id" />
            <div class="form-group">
                <label asp-for="Oferta.Status" class="control-label"></label>
                <select asp-for="Oferta.Status" asp-items="@Model.Status" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.LocalidadeId" class="control-label"></label>
                <select asp-for="Oferta.LocalidadeId" asp-items="@(new SelectList(Model.Localidades,"Id","Cidade"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.CursoId" class="control-label"></label>
                <select asp-for="Oferta.CursoId" asp-items="@(new SelectList(Model.Cursos,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>