@model IEnumerable<GerenciamentoCursos.Models.Oferta>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    
    <thead>
        <tr>
           
        </tr>
    </thead>

</table>